$white: #ffffff;

$pokemon-yellow: #c7a008;
$pokemon-strong-yellow: #ffcb05;
$pokemon-yellow-lightest: rgba(199, 160, 8, 0.12);

$pokemon-blue: #3c5aa6;
$pokemon-light-blue: #2a75bb;
$pokemon-light-blue-lighter: rgba(42, 117, 187, 0.54);

$pokemon-red: #FF0000;
$pokemon-dark-red:  #CC0000;